body {
    margin: 0;
    padding: 0;
    background: rgb(204, 204, 204);
}
button {
    height: 60px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    width: 400px;
    height: 600px;
    border: solid black;
    border-radius: 15px;
    background-color: rgb(160, 160, 160);
    box-shadow: 5px 5px;
}


.display {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 2em;
    margin-top: 1em;
    height: 100px;
    width: 300px;
    background-color: lightgreen;
    border: solid black;
}

.displayNumbers {
    font-size: 36px;
}

.btnSection {
    display: grid;
    height: 400px;
    width: 300px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.numbers {
    background-color: rgb(214, 214, 214);
    font-weight: bolder;
}

.spanTwo {
    grid-column: span 2;
}